.orderItem {
    display: flex;
    justify-content: space-between;
}
.orderItem_picContext {
    width: 100px;
    height: 100px;
}
.orderItem_context {
    flex-grow: 1;
}
.orderItem_button {
    align-self: flex-end;
}
.orderItem_star_grey {
    color: grey;
}
.orderItem_star_light {
    color: #d7000f;
}
.orderItem_button_grey {
    background-color: grey;
}